<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    <h1>Hello <%= @student.full_name%></h1>
    <p>
    
      Your status is <%if @student.status =='Approve'%>Approved<%else%>Rejected<%end%>
      <br>
    </p>
   
  </body>
</html>